/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* container */
#container {
  width: 100%;
  position: relative;
}

/* navigation */
.navigation {
  width: 100%;
  background-color: #fff;
}

.navigation.category {
  border-top: 1px solid #eee;
  border-bottom: 2px solid #fb4357;
  height: 50px;
}

/* gnb */
.gnb {
  width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* first_gnb */
.gnb.first {
  height: 113px;
}

#first_left_gnb {
  display: inline-flex;
  align-items: flex-end;
  height: 53px;
  a {
    &:focus {
      border: none;
    }
  }
}

#logo img {
  width: 117px;
  height: 53px;
}

#logo_title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  letter-spacing: 0.313em;
}

#first_right_gnb {
  height: 53px;
  .nav_icon {
    display: flex;
    align-items: center;
    gap: 20px;
    li {
      width: 55px;
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 36px;
          height: 36px;
        }
        span {
          font-size: 13px;
          color: #666;
        }
        &:hover span {
          color: #fb4357;
          font-weight: bold;
        }
      }
    }
  }
}

/* second gnb */
.gnb.second {
  height: inherit;
  padding: 5px 0;
  .topNav {
    display: flex;
    align-items: center;
    gap: 60px;
    /*li {
      padding: 20px 0;
      a {
        font-size: 16px;
        color: #222;
        font-weight: bold;
      }
    }*/
  }
  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    #search_inp {
      width: 180px;
      height: auto;
      font-size: 16px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    #search_btn {
      width: 26px;
      height: 26px;
      padding: 12px 0 14px;
      font-weight: bold;
      font-size: 16px;
      background: url("https://img.cgv.co.kr/R2014/images/common/ico/search.png")
        center center / 26px scroll no-repeat;
      border: none;
      cursor: pointer;
    }
  }
}

/* topNav */
.topNav {
  display: flex;
  gap: 60px;
  padding-bottom: 4px;
}

.topNav > li {
  position: relative;
}

.topNav > li > a {
  color: #000;
  font-weight: bold;
}

.topNav .active {
  color: #fb4357;
  font-weight: bold;
}

.topNav > li .lnb {
  width: 160px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  text-align: center;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  & > li:first-child {
    margin-top: 20px;
  }
}

.topNav > li .lnb a {
  color: #888;
  margin: 0 0 20px;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    color: #000;
  }
}

/* background-img */
#background_img {
  width: 100%;
  height: 700px;
  padding: 10px;
  background-position: 0 5%; /* x축, y축 */
  background-size: cover;
  background-repeat: no-repeat;
}

/* top_contents */
#top_contents {
  width: 980px;
  margin: 0 auto;
  margin-top: 130px;
  color: #fff;
}

.top_contents_title {
  margin: 10px 0;
  font-size: 32px;
}

.top_contents_desc {
  font-size: 18px;
  width: 600px;
}

/* card_items */
#card_items ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 650px;
  transform: translateY(100px);
  li {
    position: relative;
    a {
      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 234px;
          background-color: rgba(0, 0, 0, 0.6);
          border-radius: 10px;
          btn {
            width: 50px;
            height: 50px;
          }
        }

        &::after {
          content: attr(data-id);
          position: absolute;
          bottom: 50px;
          left: 5px;
          color: #fff;
          font-size: 4rem;
          font-style: italic;
        }
      }
      img {
        width: 170px;
        height: 234px;
        border-radius: 10px;
      }
    }

    .card_items_detail {
      font-size: 11px;
      text-align: center;
      color: #222;
      margin-top: 10px;
      p {
        font-size: 16px;
        font-weight: bold;
        color: #666;
      }
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}

/* event */
#event {
  width: 100%;
  margin-top: 250px;
  .event_contents {
    width: 980px;
    margin: 0 auto;
    .event_title {
      display: flex;
      justify-content: space-between;
      h1 {
        margin-bottom: 20px;
      }
      button {
        width: 70px;
        height: 30px;
        background: #fb4357;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 20px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: #fff;
          border: 1px solid #666;
          color: #666;
        }
      }
    }
    #event_detail {
      display: flex;
      align-items: center;
      gap: 50px;
      span {
        width: 310px;
        height: 270px;
        a {
          display: flex;
          flex-direction: column;
          .event_detail_img {
            width: 310px;
            height: 207px;
            overflow: hidden;
            border-radius: 10px;
            img {
              width: 310px;
              height: 207px;
              transition: all 0.3s;
              &:hover {
                transform: scale(1.2);
              }
            }
          }
          .event_detail_desc {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

/* giftcon_list */
#giftcon_list {
  width: 100%;
  margin-top: 80px;

  .gift_content {
    width: 980px;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: 280px;
        padding: 20px;
        border: 1px solid #eee;
        border-radius: 10px;
        h3 {
          margin: 10px;
        }
        div {
          margin: 10px;
          padding-left: 10px;
          display: flex;
          gap: 20px;
          .giftcon_img {
            height: 70px;
            display: flex;
            align-items: center;
          }
          .giftcon_desc {
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

.giftcon_img {
  img {
    width: 50px;
    height: 50px;
  }
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  background: #eee;
  margin-top: 80px;
}
