.search__form {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  input {
    margin-bottom: 5px;
    padding: 15px 20px;
    border: 1px solid rgba(#fff, 0.2);
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  input[type="submit"] {
    background: rgba(#000, 0.3);
    text-align: center;
    padding: 10px;
  }
}
