doctype html
html(lang="ko")
  head
    //- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"> 
     //- 퍼그는 session을 읽을 수 없다. server.js의 res.locals의 값만 읽을 수 있음
     //- 여기서 siteName은 res.locals에서 가져 온 값
    title #{pageTitle} | #{siteName}
    //- 변수 값 이외에 다른 값을 같이 쓸때는 #{}필요
    style.
      nav ul {
          display: flex;
          gap: 4px;
        }
  body
    include partials/header.pug
    main
      block content
    include partials/footer.pug
    script(src="/assets/js/main.js")