/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-white: #fff;
  --color-black: #1e1e1e;
  --color-sky: #a1bdf8;
  --color-gray: #999999;
  --main-width: 1098px;
}

/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
}

#app_container {
  width: 100%;
  overflow-x: hidden;
}

/* header */
header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1;

  #gnb {
    width: 1098;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: var(--color-white);

    ul {
      width: 600px;
      display: flex;
      justify-content: space-between;

      a {
        color: var(--color-gray);
      }
    }
  }
}

/* contents */
.contents {
  width: 100%;
  height: 1080px;
  padding: 30px;
}

.contents_title {
  color: var(--color-black);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
}

/* main */
.main {
  background: var(--color-sky);

  #main_title {
    width: 1098px;
    height: 290px;
    margin: 280.5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #main_title_flower {
      width: 290px;
      height: 290px;
      background: url("./img/main-flower.png");

      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
        0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
    }
  }
}

#main_title_txt span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-family: "Darumadrop One", sans-serif;
  font-size: 100px;
  color: var(--color-white);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  &:nth-child(2) {
    animation-delay: 0.1s;
  }
  &:nth-child(3) {
    animation-delay: 0.2s;
  }
  &:nth-child(4) {
    animation-delay: 0.3s;
  }
  &:nth-child(5) {
    animation-delay: 0.4s;
  }
  &:nth-child(6) {
    animation-delay: 0.4s;
    margin-right: 20px;
  }
  &:nth-child(7) {
    animation-delay: 0.5s;
  }
  &:nth-child(8) {
    animation-delay: 0.6s;
  }
  &:nth-child(9) {
    animation-delay: 0.7s;
    margin-right: 20px;
  }
  &:nth-child(10) {
    animation-delay: 0.8s;
  }
  &:nth-child(11) {
    animation-delay: 0.9s;
  }
  &:nth-child(12) {
    animation-delay: 1s;
  }
  &:nth-child(13) {
    animation-delay: 1.1s;
  }
  &:nth-child(14) {
    animation-delay: 1.2s;
  }
  &:nth-child(15) {
    animation-delay: 1.3s;
  }
  &:nth-child(16) {
    animation-delay: 1.4s;
  }
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

/* about */
.about {
  background: url("./img/check_bg.png") center/cover no-repeat;

  .about_detail {
    width: 900px;
    height: 500px;
    border: 1px solid #f00;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 117px;
    background: var(--color-white);
    display: flex;

    .about_img {
      width: 500px;
      height: 500px;
      border-radius: 40px 0 0 40px;
      overflow: hidden;
      background: yellowgreen;

      img {
        width: inherit;
        height: inherit;
      }
    }

    .about_desc {
      width: 400px;
      height: 500px;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
          height: 32px;
          display: flex;
          /* justify-content: center; */
          gap: 40px;

          .about_desc {
            font-size: 22px;
          }

          .about_desc.title {
            width: 88px;
            font-weight: bold;
            color: var(--color-sky);
          }

          .about_desc.content {
            width: 120px;
          }
        }
      }
    }
  }
}

/* project */
.project {
  background: var(--color-white);
}

/* skill */
.skill {
  background: var(--color-white);
}

/* goal */
.goal {
  background: url("./img/white-clouds-blue-sky.jpg") center/cover no-repeat;
}
