@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variable */
/* common */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
body .container {
  width: 100%;
  height: 100%;
}
body .container .inner {
  width: 1300px;
  margin: 0 auto;
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 100px #fff;
}

input:autofill {
  box-shadow: inset 0 0 0 100px #fff;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header .banner {
  background: linear-gradient(30deg, #ed192d, #004998);
  height: 30px;
  transition: all 0.5s;
}
header .banner .rnb {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
header .banner .rnb li {
  margin-right: 20px;
}
header .banner .rnb li a {
  color: #fff;
  transition: all 0.3s;
}
header .banner .rnb li a:hover {
  color: #a0a0a0;
}
header .banner .rnb li select {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
}
header .banner .rnb li select:focus {
  overflow: none;
}
header nav {
  width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo span {
  display: inline-block;
  width: 223px;
  height: 32px;
  background: url("./img/logo-white2.png") center/cover no-repeat;
}
header nav .gnb {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
header nav .gnb a {
  position: relative;
  color: #fff;
}
header nav .gnb a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background: #5bc2e7;
  transform: translateX(-50%);
  transition: all 0.3s;
}
header nav .gnb a:hover::after {
  width: 100%;
}
header nav .search_box {
  width: 200px;
  height: 20px;
  position: relative;
}
header nav .search_box input[name=search] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0 0 5px 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: #fff;
}
header nav .search_box input[name=search]::-moz-placeholder {
  color: #eee;
  opacity: 1;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
header nav .search_box input[name=search]::placeholder {
  color: #eee;
  opacity: 1;
  transition: opacity 0.3s;
}
header nav .search_box input[name=search]:focus {
  outline: none;
}
header nav .search_box input[name=search]:focus::-moz-placeholder {
  opacity: 0;
}
header nav .search_box input[name=search]:focus::placeholder {
  opacity: 0;
}
header nav .search_box i {
  position: absolute;
  top: 0;
  right: 0;
  color: #eee;
  cursor: pointer;
  transition: all 0.3s;
}
header nav .search_box i:hover {
  color: #5bc2e7;
}
header .trigger {
  display: none;
}
header.active {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
header.active .gnb li a {
  color: #000;
}
header.active .banner {
  height: 0;
  overflow: hidden;
}
header.active nav {
  padding-bottom: 20px;
}
header.active nav .logo span {
  background: url("./img/logo-navy2.png") center/cover no-repeat;
}
header.active nav .search_box input[name=search] {
  border-bottom: 1px solid #a0a0a0;
  color: #000;
}
header.active nav .search_box input[name=search]::-moz-placeholder {
  color: #a0a0a0;
}
header.active nav .search_box input[name=search]::placeholder {
  color: #a0a0a0;
}
header.active nav .search_box i {
  color: #a0a0a0;
}
header.active nav .search_box i:hover {
  color: #5bc2e7;
}

/* intro */
.intro {
  height: 100vh;
  background: url("./img/koreanair2.jpg") center/cover no-repeat;
}

/* book */
.book {
  transition: all 0.8s;
}
.book.active {
  transform: translateY(-49px);
}
.book .book_tabs {
  width: 100%;
}
.book .book_tabs .book_tab_header {
  width: 100%;
  display: flex;
}
.book .book_tabs .book_tab_header .book_tab_btn {
  width: 15%;
  padding: 15px 0;
  margin-right: 1px;
  text-align: center;
  background: rgba(0, 73, 152, 0.8);
  color: #fff;
  font-size: 16px;
  border: none;
  transition: all 0.5s;
}
.book .book_tabs .book_tab_header .book_tab_btn:first-of-type {
  border-radius: 10px 0 0;
}
.book .book_tabs .book_tab_header .book_tab_btn:last-of-type {
  border-radius: 0 10px 0 0;
}
.book .book_tabs .book_tab_header .book_tab_btn.active {
  background: #fff;
  color: #000;
}
.book .book_tabs .book_tab_header .book_tab_btn.active::before {
  content: "\f072";
  font-family: "fontawesome";
  color: #004998;
}
.book .book_tabs .book_tab_content {
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.book .book_tabs .book_tab_content .book_tab_desc {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: none;
  transition: all 0.5s;
}
.book .book_tabs .book_tab_content .book_tab_desc.active {
  display: block;
}
.book .book_tabs .book_tab_content #book1 form {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.book .book_tabs .book_tab_content #book1 form .book_flight {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type {
  display: flex;
  align-items: center;
  gap: 1px;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type .booking_type_btn {
  width: 80px;
  padding: 10px 15px;
  background: #a0a0a0;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type .booking_type_btn:first-child {
  border-radius: 6px 0 0 6px;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type .booking_type_btn:last-child {
  border-radius: 0 6px 6px 0;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type .booking_type_btn:hover {
  background: #5bc2e7;
  color: #fff;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_type .booking_type_btn.active {
  background: #5bc2e7;
  color: #fff;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper input[type=text],
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper input[type=date],
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper select {
  border: none;
  border-bottom: 1px solid #a0a0a0;
  width: 200px;
  padding: 5px;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper input[type=text]:focus,
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper input[type=date]:focus,
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc .booking_desc_wrapper select:focus {
  outline: none;
}
.book .book_tabs .book_tab_content #book1 form .book_flight .booking_desc input[type=submit] {
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  background: #5bc2e7;
  color: #fff;
}

/* travel */
.travel {
  width: 100%;
  margin-top: 80px;
}
.travel .travel_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.travel .travel_header h3 {
  font-size: 3rem;
  color: #004998;
}
.travel .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.travel .slide .slide_content {
  overflow: hidden;
  position: relative;
  width: 1290px;
  height: 400px;
}
.travel .slide .slide_content .slide_button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 3px #000;
  cursor: pointer;
  transition: all 0.3s;
}
.travel .slide .slide_content .slide_button.prev {
  top: 50%;
  left: 20px;
  background: rgba(255, 255, 255, 0.6) url("./img/chevron-left1.png") center/cover no-repeat;
}
.travel .slide .slide_content .slide_button.prev:hover {
  left: 17px;
  filter: invert(1);
}
.travel .slide .slide_content .slide_button.next {
  top: 50%;
  right: 20px;
  background: rgba(255, 255, 255, 0.6) url("./img/chevron-right1.png") center/cover no-repeat;
}
.travel .slide .slide_content .slide_button.next:hover {
  right: 17px;
  filter: invert(1);
}
.travel .slide .slide_content .slides {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.travel .slide .slide_content .slides.animated {
  transition: all 0.5s ease-out;
}
.travel .slide .slide_content .slides li {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}
.travel .slide .slide_content .slides li:not(:last-child) {
  margin-right: 30px;
}
.travel .slide .slide_content .slides li::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, #000, transparent);
}
.travel .slide .slide_content .slides li .slide_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.travel .slide .slide_content .slides li .slide_desc {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-size: 1rem;
}
.travel .slide .slide_content .slides li .slide_desc > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.travel .slide .slide_content .slides li .slide_desc > div .badge {
  display: inline-block;
  font: 300 0.6rem/1 "Montserrat", sans-serif;
  padding: 2px 5px;
  border-radius: 2px;
  background: #ed192d;
}
.travel .slide .slide_content .slides li .slide_desc .slide_price {
  display: inline-block;
  margin: 0 5px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #ed192d;
}
.travel .slide .slide_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.travel .slide .slide_pagination span {
  width: 8px;
  height: 8px;
  background: #a0a0a0;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
}
.travel .slide .slide_pagination span.active {
  background: #004998;
}

/* event */
.event {
  width: 100%;
  margin: 150px 0;
}
.event .event_img {
  width: 100%;
  height: 400px;
  background: url("./img/event1.jpg") center/cover no-repeat;
}/*# sourceMappingURL=style.css.map */