/* reset */
@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Noto+Sans+KR:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sunflower:wght@300;500;700&display=swap");

/* built-in-function */
$color: (
  bg-dark-color: #000,
  bg-light-color: #fff,
  bg-gray-color: #808080,
  accent-color: #dc143c,
  theme-color: #4bbe7b,
);

$size: 14px;

/* common */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Sunflower", sans-serif;
}

/* home */
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contents_title {
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        color: map-get($color, theme-color);
        font: bold $size/1 "Sunflower";
      }
      .subtitle {
        font: normal $size/1 "Sunflower";
      }
    }
    .divideLine {
      width: 100%;
      border-top: 1px solid map-get($color, bg-gray-color);
      margin: 4px 0;
    }
  }
  .wrapper_body {
    width: 100%;
    height: 270px;
    .miniroom {
      position: relative;
      .video {
        width: 100%;
        height: 240px;
        object-fit: cover;
        margin-top: 10px;
      }
      .minimi {
        position: absolute;
        top: 40%;
        left: 27%;
        width: 50px;
        height: 90px;
        background: url("./contents/minimi.png") center/contain no-repeat;
      }
    }
    .contents_title {
      display: flex;
      align-items: center;
      gap: 10px;
      .title {
        color: map-get($color, theme-color);
        font: bold 16px/1 "Sunflower";
      }
      .subtitle {
        font: normal $size/1 "Sunflower";
      }
    }
  }
}
